{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "plugins": [
    "stylelint-order",
    "stylelint-csstree-validator"
  ],
  "rules": {
    "property-no-vendor-prefix": null,
    "value-no-vendor-prefix": null,
    "csstree/validator": {
      "ignore": [
        "-styled-mixin0",
        "-styled-mixin1"
      ]
    },
    "max-nesting-depth": 3,
    "order/order": [
      "declarations"
    ],
    "order/properties-order": [
      [
        "display",
        "position",
        "margin",
        "margin-bottom",
        "margin-left",
        "margin-right",
        "margin-top",
        "padding",
        "padding-bottom",
        "padding-left",
        "padding-right",
        "padding-top",
        "height",
        "width",
        "max-height",
        "max-width"
      ],
      {
        "unspecified": "bottom"
      }
    ]
  }
}
